{% load static wagtailcore_tags %}
<div id="search-results" class="mt-4">

    {% if search_results %}

    <ul class="list-group">
        {% for page in search_results %}
            <li class="list-group-item">
                <a href="{{ page.url }}">
                    <h5>{{ page.title }}</h5>
                </a>
                
                {% if page.search_snippet %}
                    <p class="search-snippet">{{ page.search_snippet|safe }}</p>
                {% else %}
                    <p class="text-muted small">
                        {{ page.intro|default:"Click to view full page content." }}
                    </p>
                {% endif %}
                
                <p class="text-muted small">{{ page.first_published_at|date:"M d, Y" }}</p>
            </li>
        {% endfor %}
    </ul>


    {% elif search_query %}

    No results found
    {% endif %}

</div>