{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}

{% block extra_css %}
{% endblock extra_css %}

{% block content %}

<div class="container mt-4">
    <div class="row">
        <div class="col">
            <h1 class="mb-4"> {{ page.title }} </h1>
            <div class="intro">
                {{ page.intro|richtext }}
            </div>
        </div>
    </div>

    <ul class="list-group">
        {% for note in notes %}
        <li class="list-group-item">
            <a href="{{ note.url }}">
            {{ note.title }} </a>
                {% if note.num_children > 0 %}
                    <span class="badge text-bg-primary rounded-pill mx-4">{{note.num_children}}</span>  
            {% for child in note.children %}
                <ul>
                    <li>
                        <a href="{{ child.url }}">
                        {{ child.title }}
                        </a>
                    </li>
                </ul>
            {% endfor %}
            {% endif %}
        </li>
        {% endfor %}
    </ul>

{% endblock content %}
