 <!-- Login options --> 
        <div class="navbar-item ml-md-auto text-center p-2 mx-4">
            {% if user.is_authenticated %}
            <div class="dropdown">
                <button class="btn btn-light dropdown-toggle" type="button" id="logged-in-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    {{user.username}}
                </button>
                <ul class="dropdown-menu" aria-labelledby="logged-in-dropdown">
                    <li><a class="dropdown-item" href="{% url 'wagtailadmin_home' %}">Edit pages</a></li>
                    <li>
                        <form action="{% url 'wagtailadmin_logout' %}" method="post" class="m-0 p-0">
                            {% csrf_token %}
                            <button type="submit" class="dropdown-item text-start w-100">
                            Logout
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
            {% else %}
            <div class="dropdown">
                <button class="btn btn-light dropdown-toggle" type="button" id="logged-in-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    Not logged in
                </button>
                <ul class="dropdown-menu" aria-labelledby="logged-in-dropdown">
                    <li><a class="dropdown-item" href="{% url 'wagtailadmin_login' %}">Login</a></li>
                </ul>
            </div>
            {% endif %}
        </div>